* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  background: #eee;
}

.screen {
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background: #fff;
}

h1 {
  padding-top: 392px;
  text-align: center;
  text-align: center;
  font-family: "Self Modern";
  font-size: 100px;
  font-style: italic;
  font-weight: 400;
}
